<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Consent Form</h4>
            </div>
            <div class="modal-body">
                <p>I have read and had explained to me  in the accompanying Information Sheet relating to the project entitled Eat well Q8.</p>
                <p>I have had explained to me the purposes of the project and what will be required of me, and any questions I had, have been answered to my satisfaction.</p>
                <p> I agree to the arrangements described in the Information Sheet in so far as they relate to my participation. </p>

                <ol>
                    <li>I understand that participation is entirely voluntary and that I have the right to withdraw from the project at any time without giving reason, and that this will be without detriment to any care or services I may be receiving or may receive in the future. </li>
                    <li>This project has been subjected to ethical review, according to the procedures specified by the Ministry of Health, and has been given a favourable ethical opinion for conduct.</li>
                    <li>I have received a copy of this Consent Form and of the accompanying Information Sheet.</li>
                    <li>I wish to receive a summary of the results once the study is complete and analysed statistically and added to the study database.</li>
                    <br>

                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>